@import "@/styles/function.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #F4F4F5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding-left: pxRem(15);
}


select {
  padding-left: pxRem(15);
}

textarea {
  padding-left: pxRem(15);
  padding-top: pxRem(15);
}